<form>
    <!-- <input type="text" name="Name" required>
    <input type="number" label="Age" min="0" max="100"> -->
    <input type="text" name="Username" id="name">
    <button type="submit">Submit</button>
</form>

